<%include   ../partials/header  %>

<div class="container">
    <div class="row">
    <h1>Add New Comment to <%= campground.name %></h1>

    <form action="/campgrounds/<%=campground._id %>/comments" method="POST">
        <input type="text" class="form-control" placeholder="text" name="comment[text]">
        <button class="btn btn-primary btn-lg">Submit!</button>
    </form>

    <a href="/campgrounds/<%=campground._id %>">Go Back</a>
    </div>
</div>

<%include   ../partials/footer  %>