<%include   ../partials/header  %>

<div class="container">
    <div class="row">
    <h1>Create a New Campground</h1>

    <form action="/campgrounds" method="POST">
        <input type="text" class="form-control" placeholder="name" name="name">
        <input type="text" class="form-control" placeholder="image url" name="image">
        <input type="text" class="form-control" placeholder="description" name="description">
        <button class="btn btn-primary btn-lg">Submit!</button>
    </form>

    <a href="/campgrounds">Go Back</a>
    </div>
</div>

<%include   ../partials/footer  %>